body{
    background-color: rgb(140, 184, 250);


}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto; 
}

.contact-box{
    display: flex;
    align-items: center; 
}
h2{
    color: aliceblue;
    text-align: center;
    margin-top: 65px;
    font-size:40px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.links{
    display: flex; 
    justify-content: center;
}
.contact-links .links .link img{
    height: 30px;
    padding: 5px;
    width: 30px;
    filter: hue-rotate(220deg);
    /* transition: 10s; */

}
img:hover {
    transform: scale(1.1,1.1);
 }
.contact-links{
    
    align-items: center; 

    background-color:rgb(12, 25, 99);
    width: 350px;
    height: 300px;
    border-radius :10px 0px 0px 10px ;
    
}
.contact-form-wrapper{
    background-color: rgb(186, 220, 250);
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    position: relative;
}


#myBtn{

    background-color:rgb(12, 25, 99);
    border-radius: 10px;
    color: aliceblue;
    font-weight: 1000;
    font-family: bold;
    border: none;
    height: 50px;
    width: 150px;
    cursor: pointer;   
}
#myBtn:hover{
    background-color: rgb(65, 74, 209);
    transform: scale(1.1,1.1);
}

div#myModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.795);
}
.modal-content form{

    position: absolute;
    
 
    text-align: center;

}
.modal-content{
    position: relative;
    left: 50px;
    margin-top: 100px;
    padding: 45px;
    width:500px;
    height: 300px;
    background-color: white;
    margin-left: 350px;
    /* border-radius: 20px; */
}

.contact-form-wrapper .modal {
    display: none;
}
span.close{
    cursor: pointer;
    top: 0;
    padding-left: 495px;

}
.form-item{
 width:fit-content;
 position: relative;
 text-align: center;
 left:10px;
padding: 15px;
color: rgba(0, 0, 0, 0.596);
}
.form-item label{
    position: absolute;
    left: 20px;
}
input:focus+label{
    top: -10px;
}
textarea:focus+label{
    top: -10px;
}
.submit-btn{
    background-color: rgb(12, 25, 99);
    border: none;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    margin-top: 19px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: rgb(65, 74, 209);
    transform: scale(1.1,1.1);
}
input{
    width: 400px;
    height: 30px;
}
textarea{
    width:400px ;
    height: 50px;
}
@media screen and (max-width:700px) {

    .container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto; 
    }
    .contact-box{
        display: flex;
        align-items: center;
        flex-direction: column; 
        height: 400px;
    }
    .contact-links{
       
    
        align-items: center; 
    
        background-color:rgb(12, 25, 99);
        width: 350px;
        height: 300px;
        border-radius :10px 10px 0px 0px ;
        
    }
    .contact-form-wrapper{
        background-color: rgb(186, 220, 250);
        width: 350px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        border-radius: 0px 0px 10px 10px;
        position: relative;
    }
    .modal-content{
        margin-top: 100px;
        width: 226px;
        height: 254px;
        background-color: white;
        margin-left: -29px;
    }
    
textarea {
    width: 197px;
    height: 50px;
}
input {
    width: 190px;
    height: 30px;
}
.modal form {
    position: relative;
    bottom: 49px;
}
}